# ПРОЕКТ - на знание SQL

**Содержание:**

1. [Описание проекта](#intro)
2. [Цель исследования](#intro1)
3. [Описание данных](#intro2)
4. [Загрузка и изучение данных](#intro3)
5. [Запросы к базе данных](#intro4)
6. [Выводы](#intro5)

## Описание проекта <a id='intro'></a>

Наша компания решила быть на волне и купила крупный сервис для чтения книг по подписке. Моя первая задача как аналитика — проанализировать базу данных. В ней — информация о книгах, издательствах, авторах, а также пользовательские обзоры книг.

## Цель исследования <a id='intro1'></a>

Проанализировать базу данных для формирования ценностного предложения для нового продукта:

- посчитаем, сколько книг вышло после 1 января 2000 года;
- для каждой книги посчитаем количество обзоров и среднюю оценку;
- пределим издательство, которое выпустило наибольшее число книг толще 50 страниц (исключим из анализа брошюры);
- определим автора с самой высокой средней оценкой книг (учитываем только книги с 50 и более оценками);
- посчитаем среднее количество обзоров от пользователей, которые поставили больше 50 оценок.

## Описание данных  <a id='intro2'></a>

**Таблица `books`**

Содержит данные о книгах:

- `book_id` — идентификатор книги;
- `author_id` — идентификатор автора;
- `title` — название книги;
- `num_pages` — количество страниц;
- `publication_date` — дата публикации книги;
- `publisher_id` — идентификатор издателя.

**Таблица `authors`**

Содержит данные об авторах:

- `author_id` — идентификатор автора;
- `author` — имя автора.

**Таблица `publishers`**

Содержит данные об издательствах:

- `publisher_id` — идентификатор издательства;
- `publisher` — название издательства;

**Таблица `ratings`**

Содержит данные о пользовательских оценках книг:

- `rating_id` — идентификатор оценки;
- `book_id` — идентификатор книги;
- `username` — имя пользователя, оставившего оценку;
- `rating` — оценка книги.

**Таблица `reviews`**

Содержит данные о пользовательских обзорах на книги:

- `review_id` — идентификатор обзора;
- `book_id` — идентификатор книги;
- `username` — имя пользователя, написавшего обзор;
- `text` — текст обзора.

## Загрузка и изучение данных  <a id='intro3'></a>

In [1]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import text, create_engine

# устанавливаем параметры
db_config = {'user': 'praktikum_student', # имя пользователя
'pwd': 'Sdf4$2;d-d30pp', # пароль
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # порт подключения
'db': 'data-analyst-final-project-db'} # название базы данных
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)

# сохраняем коннектор
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

Посмотрим содержание таблиц базы данных:

In [2]:
# Напишем ф-цию для просмотра общ.инф. по датасетам
def describe_cols(df_data):
    df = df_data
    values = pd.DataFrame()
    
    for col in df.columns:
        values[col] = [df[col].unique(), df[col].dtypes, df[col].nunique()]
        
    return values.transpose().sort_values(by=1, ascending=True).rename(
        {0: 'Значения', 1: 'тип данных', 2: 'Кол-во уникальных значений'}, axis=1)


#функция для вывода пустых значений и их доли в столбцах датафрейма
def nan_values(df_data):
    df = df_data
    count_missing = df.isna().sum()
    percent_missing = round(df.isna().sum() * 100 / len(df), 2)
    
    missing_value_df = pd.DataFrame({'column_name': df.columns,
                                     'num_missing': count_missing,
                                     'percent_missing': percent_missing})
    
    return missing_value_df

#функция для вывода информации о файле
def df_info (df_data):
    print('Количество строк файла:', df_data.shape[0])
    print('Количество столбцов файла:', df_data.shape[1])
    print()
    print('Информация о содержимом файла:')
    display(describe_cols(df_data))
    print()
    print('Информация о пропусках данных:')
    display(nan_values(df_data))
    print()
    print('Первые пять строк таблицы:')
    display(df_data.head())

*Таблица `books`*

In [3]:
query = """
SELECT *
FROM books;
"""
con=engine.connect()
books = pd.io.sql.read_sql(sql=text(query), con = con)
books.tail()

,book_id,author_id,title,num_pages,publication_date,publisher_id
995,996,571,Wyrd Sisters (Discworld #6; Witches #2),265,2001-02-06,147
996,997,454,Xenocide (Ender's Saga #3),592,1996-07-15,297
997,998,201,Year of Wonders,358,2002-04-30,212
998,999,94,You Suck (A Love Story #2),328,2007-01-16,331
999,1000,509,Zen and the Art of Motorcycle Maintenance: An ...,540,2006-04-25,143

In [4]:
df_info(books)

Количество строк файла: 1000
Количество столбцов файла: 6

Информация о содержимом файла:

,Значения,тип данных,Кол-во уникальных значений
book_id,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",int64,1000
author_id,"[546, 465, 407, 82, 125, 257, 258, 260, 563, 4...",int64,636
num_pages,"[594, 992, 322, 541, 386, 424, 400, 448, 461, ...",int64,454
publisher_id,"[93, 336, 135, 309, 268, 116, 318, 104, 83, 36...",int64,340
title,"['Salem's Lot, 1 000 Places to See Before You ...",object,999
publication_date,"[2005-11-01, 2003-05-22, 2010-12-21, 2006-10-1...",object,618

Информация о пропусках данных:

                       column_name  num_missing  percent_missing
book_id                    book_id            0              0.0
author_id                author_id            0              0.0
title                        title            0              0.0
num_pages                num_pages            0              0.0
publication_date  publication_date            0              0.0
publisher_id          publisher_id            0              0.0

Первые пять строк таблицы:

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [5]:
# подсчёт явных дубликатов
books.duplicated().sum()

0

In [6]:
# посмотрим неявные дубликаты
books['title'].unique()

array(["'Salem's Lot", '1 000 Places to See Before You Die',
       '13 Little Blue Envelopes (Little Blue Envelope  #1)',
       '1491: New Revelations of the Americas Before Columbus', '1776',
       "1st to Die (Women's Murder Club  #1)",
       "2nd Chance (Women's Murder Club  #2)",
       "4th of July (Women's Murder Club  #4)", 'A Beautiful Mind',
       'A Bend in the Road', 'A Breath of Snow and Ashes (Outlander  #6)',
       'A Brief History of Time',
       'A Caress of Twilight (Merry Gentry  #2)',
       'A Christmas Carol and Other Christmas Writings',
       'A Clash of Kings  (A Song of Ice and Fire  #2)',
       'A Crown of Swords (The Wheel of Time  #7)',
       'A Dirty Job (Grim Reaper  #1)',
       'A Drink Before the War (Kenzie & Gennaro  #1)', 'A Fine Balance',
       'A Fistful of Charms (The Hollows  #4)',
       'A Game of You (The Sandman  #5)',
       'A Great and Terrible Beauty (Gemma Doyle #1)',
       'A Hat Full of Sky (Discworld  #32; Tiffany Aching  #2)',
       'A Heartbreaking Work of Staggering Genius',
       'A History of God: The 4 000-Year Quest of Judaism  Christianity  and Islam',
       'A Hunger Like No Other (Immortals After Dark  #1)',
       'A Lesson Before Dying', 'A Light in the Attic',
       'A Little Princess', 'A Long Way Down',
       'A Long Way Gone: Memoirs of a Boy Soldier',
       'A Long Way from Chicago (A Long Way from Chicago  #1)',
       'A Man Without a Country', 'A Map of the World',
       'A Million Little Pieces', 'A Moveable Feast',
       'A Murder Is Announced (Miss Marple  #5)', 'A Painted House',
       'A Passage to India', "A People's History of the United States",
       'A Portrait of the Artist as a Young Man',
       'A Princess of Mars (Barsoom  #1)', 'A Quick Bite (Argeneau #1)',
       "A Room of One's Own", 'A Room with a View', 'A Scanner Darkly',
       'A Separate Peace', 'A Short History of Nearly Everything',
       'A Streetcar Named Desire', 'A Thousand Acres',
       'A Tree Grows in Brooklyn',
       'A Walk in the Woods: Rediscovering America on the Appalachian Trail',
       'A Walk to Remember', 'A Wild Sheep Chase (The Rat  #3)',
       'A Woman of Substance (Emma Harte Saga #1)', 'A Year in Provence',
       'Act of Treason (Mitch Rapp  #9)', "Aesop's Fables", 'After Dark',
       "Ahab's Wife  or The Star-Gazer",
       'Alanna: The First Adventure (Song of the Lioness  #1)',
       'Alas  Babylon', 'Alexander Hamilton', 'Alice in Wonderland',
       "Alice's Adventures in Wonderland & Through the Looking-Glass",
       "All the King's Men", 'All-American Girl (All-American Girl  #1)',
       'Alone (Detective D.D. Warren  #1)',
       'Along Came a Spider (Alex Cross  #1)',
       'American Gods (American Gods  #1)',
       'American Pastoral (The American Trilogy  #1)', 'Amsterdam',
       'An Ideal Husband', 'And Then There Were None',
       'Angels & Demons (Robert Langdon  #1)', 'Angels Fall',
       'Angels Flight (Harry Bosch  #6; Harry Bosch Universe  #7)',
       'Animal  Vegetable  Miracle: A Year of Food Life', 'Animal Farm',
       'Animal Farm / 1984', 'Anna Karenina',
       'Anne Frank Remembered: The Story of the Woman Who Helped to Hide the Frank Family',
       "Anne Rice's The Vampire Lestat: A Graphic Novel",
       'Anne of Green Gables (Anne of Green Gables  #1)', 'Anthem',
       'Arrows of the Queen (Heralds of Valdemar  #1)', 'As You Like It',
       "Assassin's Quest (Farseer Trilogy  #3)",
       'At First Sight (Jeremy Marsh & Lexie Darnell  #2)',
       'Atlas Shrugged', 'Baby Proof', 'Babyville',
       "Band of Brothers: E Company  506th Regiment  101st Airborne from Normandy to Hitler's Eagle's Nest",
       'Batman: Arkham Asylum - A Serious House on Serious Earth',
       'Beach Music',
       'Beauty: A Retelling of the Story of Beauty and the Beast',
       'Bel Canto', 'Beloved', 'Beyond Good and Evil', 'Birdsong',
       'Bitten (Otherworld  #1)',
       'Bitter Is the New Black: Confessions of a Condescending  Egomaniacal  Self-Centered Smartass  Or  Why You Should Never Carry A Prada Bag to the Unemployment Office',
       'Black Beauty', 'Black Hole', 'Black House (The Talisman  #2)',
       'Black Like Me', 'Black and Blue', 'Blankets', 'Bleach  Volume 01',
       'Bleak House', 'Blindness', 'Blindsighted (Grant County  #1)',
       'Blink: The Power of Thinking Without Thinking',
       'Bloodsucking Fiends (A Love Story  #1)',
       'Bloody Bones (Anita Blake  Vampire Hunter #5)',
       'Blow Fly (Kay Scarpetta  #12)',
       'Blue Like Jazz: Nonreligious Thoughts on Christian Spirituality',
       'Blue Moon (Anita Blake  Vampire Hunter  #8)',
       'Blue Ocean Strategy: How to Create Uncontested Market Space and Make the Competition Irrelevant',
       'Body Double (Rizzoli & Isles  #4)', 'Bookends', 'Boy Meets Boy',
       "Boy: Tales of Childhood (Roald Dahl's Autobiography  #1)",
       'Brave New World', 'Brave New World / Brave New World Revisited',
       'Brideshead Revisited', 'Bright Lights  Big Ass',
       'Brother Odd (Odd Thomas  #3)',
       'Built to Last: Successful Habits of Visionary Companies',
       'Burning Chrome (Sprawl  #0)',
       'Burnt Offerings (Anita Blake  Vampire Hunter  #7)',
       'By the River Piedra I Sat Down and Wept',
       'Can You Keep a Secret?', 'Cane River', 'Cannery Row',
       "Captivating: Unveiling the Mystery of a Woman's Soul",
       'Carpe Jugulum (Discworld #23; Witches #6)',
       'Case Histories (Jackson Brodie #1)',
       'Casino Royale (James Bond  #1)', 'Catherine  Called Birdy',
       'Cause of Death (Kay Scarpetta  #7)',
       'Cerulean Sins (Anita Blake  Vampire Hunter  #11)',
       'Chapterhouse: Dune (Dune Chronicles #6)',
       'Charlie and the Chocolate Factory (Charlie Bucket  #1)',
       "Charlotte's Web", "Children of the Mind (Ender's Saga  #4)",
       'Chocolate Chip Cookie Murder (Hannah Swensen  #1)', 'Christine',
       'Chronicle of a Death Foretold', 'Chronicles: Volume One',
       'Circle of Friends',
       'Circus of the Damned (Anita Blake  Vampire Hunter  #3)',
       'Cloudy With a Chance of Meatballs (Cloudy with a Chance of Meatballs  #1)',
       'Cold Mountain',
       'Collapse: How Societies Choose to Fail or Succeed',
       'Color: A Natural History of the Palette',
       "Complications: A Surgeon's Notes on an Imperfect Science",
       'Confessions of a Shopaholic (Shopaholic  #1)',
       'Confessions of an Ugly Stepsister', 'Congo',
       'Consider the Lobster and Other Essays', 'Coraline',
       "Corelli's Mandolin", 'Count Zero (Sprawl  #2)', 'Creepshow',
       'Crime and Punishment', 'Cross (Alex Cross  #12)',
       'Crossing to Safety',
       'Crucial Conversations: Tools for Talking When Stakes Are High',
       'Cry  the Beloved Country', 'Cryptonomicon', 'Cujo',
       "Cursor's Fury (Codex Alera  #3)", 'Cyrano de Bergerac',
       'Dance Dance Dance', 'Danny the Champion of the World',
       'Dark Lover (Black Dagger Brotherhood  #1)',
       'Dark Prince (Dark  #1)', 'Darkest Hour (The Mediator  #4)',
       'Daughter of Fortune', 'Dead Beat (The Dresden Files  #7)',
       'Dead Souls', 'Dead Witch Walking (The Hollows  #1)', 'Dear John',
       'Death Note  Vol. 1: Boredom (Death Note  #1)',
       'Death: The High Cost of Living', 'Debt of Honor (Jack Ryan  #7)',
       'Diary', 'Different Seasons', 'Disgrace',
       "Disney's Beauty and the Beast (A Little Golden Book)",
       'Don Quixote', 'Dr. Faustus', 'Dracula',
       'Dragonfly in Amber (Outlander  #2)',
       'Dragons of Winter Night (Dragonlance: Chronicles  #2)',
       'Dragonsinger (Harper Hall  #2)', 'Dragonsong (Harper Hall  #1)',
       'Dream Country (The Sandman  #3)', 'Dreamcatcher', 'Dreamland',
       'Drowning Ruth', 'Drums of Autumn (Outlander  #4)', 'Dry',
       'Dubliners', 'Dune Messiah (Dune Chronicles #2)',
       'Eat  Pray  Love',
       'Echo Park (Harry Bosch  #12; Harry Bosch Universe  #16)',
       'Eight Cousins (Eight Cousins  #1)',
       'Einstein: His Life and Universe',
       'Eleven on Top (Stephanie Plum  #11)',
       'Ella Enchanted (Ella Enchanted #1)',
       'Emily of New Moon (Emily  #1)', 'Emma',
       'Emotional Intelligence: Why It Can Matter More Than IQ',
       'Emperor Mage (Immortals  #3)',
       "Ender's Shadow (The Shadow Series  #1)", 'Enduring Love',
       'Endymion (Hyperion Cantos  #3)',
       'Equal Rites (Discworld  #3; Witches  #1)',
       'Essential Tales and Poems', 'Eugene Onegin',
       'Even Cowgirls Get the Blues', 'Evening Class',
       'Every Which Way But Dead (The Hollows  #3)',
       'Everyday Italian: 125 Simple and Delicious Recipes',
       'Everyone Worth Knowing', "Everything's Eventual: 14 Dark Tales",
       'Evil Under the Sun (Hercule Poirot  #24)',
       'Executive Orders (Jack Ryan  #8)', 'Exodus',
       'Extremely Loud and Incredibly Close',
       'Fablehaven (Fablehaven  #1)', 'Fables  Vol. 1: Legends in Exile',
       'Fables  Vol. 3: Storybook Love',
       'Fables & Reflections (The Sandman  #6)', 'Fall on Your Knees',
       'Fantastic Beasts and Where to Find Them (Hogwarts Library)',
       'Fantastic Mr. Fox', 'Far From the Madding Crowd',
       'Farmer Boy (Little House  #2)',
       'Fast Food Nation: The Dark Side of the All-American Meal',
       'Fathers and Sons', 'Faust  First Part',
       'Fear Nothing (Moonlight Bay  #1)', 'Fever Pitch', 'Fight Club',
       'First Things First', 'Flags of Our Fathers',
       'Flowers for Algernon',
       'Fluke: Or  I Know Why the Winged Whale Sings',
       'Fooled by Randomness: The Hidden Role of Chance in Life and in the Markets',
       'For One More Day', 'For a Few Demons More (The Hollows  #5)',
       'Forever . . .', 'Forever Odd (Odd Thomas  #2)',
       'Forever in Blue: The Fourth Summer of the Sisterhood (Sisterhood  #4)',
       "Foucault's Pendulum", 'Foundation (Foundation  #1)',
       'Foundation and Earth (Foundation #5)',
       'Foundation and Empire (Foundation #2)',
       'Founding Brothers: The Revolutionary Generation',
       'Four to Score (Stephanie Plum  #4)',
       'Fragile Things: Short Fictions and Wonders', 'Franny and Zooey',
       'Freak the Mighty (Freak The Mighty  #1)',
       'Freakonomics: A Rogue Economist Explores the Hidden Side of Everything',
       "From Potter's Field (Kay Scarpetta  #6)", 'From a Buick 8',
       'Fullmetal Alchemist  Vol. 1 (Fullmetal Alchemist  #1)',
       'Fun Home: A Family Tragicomic',
       'Furies of Calderon (Codex Alera  #1)', 'Galápagos',
       'Gathering Blue (The Giver  #2)', 'Geek Love', "Gerald's Game",
       'Getting Things Done: The Art of Stress-Free Productivity',
       'Ghost Story',
       'Girls in Pants: The Third Summer of the Sisterhood (Sisterhood  #3)',
       'Glass Houses (The Morganville Vampires  #1)',
       'God Bless You  Mr. Rosewater',
       'God Emperor of Dune (Dune Chronicles #4)', 'Gone for Good',
       'Gone with the Wind', 'Good in Bed (Cannie Shapiro  #1)',
       'Goodnight Moon', 'Goodnight Nobody',
       'Gossip Girl (Gossip Girl  #1)', "Gravity's Rainbow",
       'Guilty Pleasures (Anita Blake  Vampire Hunter  #1)',
       "Gulliver's Travels", 'Half of a Yellow Sun', 'Ham on Rye',
       'Hamlet', 'Hannibal (Hannibal Lecter  #3)',
       'Hard Eight (Stephanie Plum  #8)', 'Hard Times',
       'Harry Potter Boxed Set  Books 1-5 (Harry Potter  #1-5)',
       'Harry Potter and the Chamber of Secrets (Harry Potter  #2)',
       'Harry Potter and the Half-Blood Prince (Harry Potter  #6)',
       'Harry Potter and the Order of the Phoenix (Harry Potter  #5)',
       'Harry Potter and the Prisoner of Azkaban (Harry Potter  #3)',
       'Harvesting the Heart', "Hatchet (Brian's Saga  #1)", 'Haunted',
       'Hawaii',
       "He's Just Not That Into You: The No-Excuses Truth to Understanding Guys",
       'Heart of Darkness', 'Heidi (Heidi  #1-2)', 'Hell House',
       'Henry V', 'Here on Earth',
       'Heretics of Dune (Dune Chronicles #5)', 'Hideaway', 'Hiroshima',
       'His Excellency: George Washington',
       "His Majesty's Dragon (Temeraire  #1)", 'History of Beauty',
       'Hogfather (Discworld  #20; Death  #4)', 'Holes (Holes  #1)',
       'Homage to Catalonia', 'Honeymoon (Honeymoon  #1)', 'Hoot',
       'Horton Hatches the Egg', 'Horton Hears a Who!',
       'Hot Six (Stephanie Plum  #6)', 'House of Leaves', 'Housekeeping',
       "How the Irish Saved Civilization: The Untold Story of Ireland's Heroic Role from the Fall of Rome to the Rise of Medieval Europe",
       'How to Be a Domestic Goddess: Baking and the Art of Comfort Cooking',
       'How to Stop Worrying and Start Living', 'Howards End',
       'Howl and Other Poems',
       "Howl's Moving Castle (Howl's Moving Castle  #1)",
       'I  Claudius (Claudius  #1)', 'I  Robot (Robot  #0.1)',
       'I Am Legend', 'I Am the Messenger', 'I Capture the Castle',
       'I Feel Bad About My Neck: And Other Thoughts on Being a Woman',
       'I Hope They Serve Beer in Hell (Tucker Max  #1)',
       'I Like You: Hospitality Under the Influence',
       "I'm a Stranger Here Myself: Notes on Returning to America After Twenty Years Away",
       'Icy Sparks', 'Illusions: The Adventures of a Reluctant Messiah',
       'In a Sunburned Country',
       'In the Hand of the Goddess (Song of the Lioness  #2)',
       'In the Heart of the Sea: The Tragedy of the Whaleship Essex',
       'Incubus Dreams (Anita Blake  Vampire Hunter  #12)',
       'Influence: The Psychology of Persuasion',
       'Inkheart (Inkworld  #1)', 'Inkspell (Inkworld  #2)', 'Insomnia',
       'Intensity', 'Interpreter of Maladies',
       'Interview with the Vampire (The Vampire Chronicles  #1)',
       'Into Thin Air: A Personal Account of the Mount Everest Disaster',
       'Into the Wild',
       "It's Not about the Bike: My Journey Back to Life", 'Ivanhoe',
       'J.R.R. Tolkien 4-Book Boxed Set: The Hobbit and The Lord of the Rings',
       'Jack & Jill (Alex Cross  #3)', 'James and the Giant Peach',
       'Jane Eyre', 'Jitterbug Perfume', 'John Adams',
       'Journey to the Center of the Earth (Extraordinary Voyages  #3)',
       'Judge & Jury',
       'Julie and Julia: 365 Days  524 Recipes  1 Tiny Apartment Kitchen',
       'Julius Caesar', 'Junky', 'Jurassic Park (Jurassic Park  #1)',
       'Just So Stories', 'Kafka on the Shore', 'King Lear',
       "King Solomon's Mines (Allan Quatermain  #1)", 'Kingdom Come',
       'Kiss the Girls (Alex Cross  #2)',
       'Kitchen Confidential: Adventures in the Culinary Underbelly',
       "Kushiel's Avatar (Phèdre's Trilogy  #3)",
       'Labyrinth (Languedoc  #1)',
       "Lamb: The Gospel According to Biff  Christ's Childhood Pal",
       'Lasher (Lives of the Mayfair Witches  #2)', 'Last Chance Saloon',
       'Last Man Standing', 'Left Behind (Left Behind  #1)',
       "Leonardo's Notebooks", 'Less Than Zero',
       "Life  the Universe and Everything (Hitchhiker's Guide to the Galaxy  #3)",
       'Light in August', 'Lightning', 'Like Water for Chocolate',
       'Lioness Rampant (Song of the Lioness  #4)', 'Lipstick Jungle',
       "Lisey's Story", 'Little Dorrit',
       'Little House in the Big Woods (Little House  #1)',
       'Little Town on the Prairie  (Little House  #7)', 'Little Women',
       'London Bridges (Alex Cross  #10)',
       "Long Day's Journey into Night",
       'Longitude: The True Story of a Lone Genius Who Solved the Greatest Scientific Problem of His Time',
       'Lord John and the Private Matter (Lord John Grey  #1)',
       'Lord of Chaos (The Wheel of Time  #6)', 'Lord of the Flies',
       'Lords and Ladies (Discworld  #14; Witches #4)',
       'Lost in a Good Book (Thursday Next  #2)',
       'Love in the Time of Cholera',
       'Lover Awakened (Black Dagger Brotherhood  #3)',
       'Lover Eternal (Black Dagger Brotherhood  #2)',
       'Lover Revealed (Black Dagger Brotherhood  #4)',
       'Lucy Sullivan Is Getting Married', 'Lysistrata', 'Macbeth',
       'Magic Bites (Kate Daniels  #1)',
       'Magician: Apprentice (The Riftwar Saga  #1)',
       "Man's Search for Meaning", 'March', 'Marked (House of Night  #1)',
       "Marley and Me: Life and Love With the World's Worst Dog",
       'Marvel 1602', 'Matilda',
       "Maus I: A Survivor's Tale: My Father Bleeds History (Maus  #1)",
       'Mayflower: A Story of Courage  Community  and War', 'Meditations',
       'Memoirs of a Geisha', 'Men Are from Mars  Women Are from Venus',
       'Mercy', 'Mere Christianity',
       'Merrick (The Vampire Chronicles #7)', 'Message in a Bottle',
       'Messenger (The Giver  #3)', 'Metamorphoses',
       'Metro Girl (Alex Barnaby  #1)',
       'Micah (Anita Blake  Vampire Hunter  #13)', 'Middlesex',
       'Midnight for Charlie Bone (The Children of the Red King  #1)',
       "Midnight's Children", 'Misery',
       'Misty of Chincoteague (Misty  #1)', 'Moll Flanders',
       "Moloka'i (Moloka'i #1)",
       'Moneyball: The Art of Winning an Unfair Game', 'Monster',
       'Moo  Baa  La La La!',
       "Morality for Beautiful Girls (No. 1 Ladies' Detective Agency #3)",
       "Morrigan's Cross (Circle Trilogy  #1)", 'Mother Night',
       'Mountains Beyond Mountains: The Quest of Dr. Paul Farmer  a Man Who Would Cure the World',
       'Moving Pictures (Discworld  #10; Industrial Revolution  #1)',
       'Mr. Maybe', 'Mrs. Dalloway',
       'Mrs. Piggle-Wiggle (Mrs. Piggle Wiggle  #1)',
       'Murder at the Vicarage (Miss Marple  #1)',
       'Murder on the Orient Express (Hercule Poirot  #10)',
       "My Father's Dragon (My Father's Dragon  #1)", 'My Life in France',
       'My Name Is Asher Lev', 'My Side of the Mountain (Mountain  #1)',
       "My Sister's Keeper", 'My Ántonia (Great Plains Trilogy  #3)',
       'Mystic River', 'Mythology', 'Naked Empire (Sword of Truth  #8)',
       'Naked Lunch',
       'Narcissus in Chains (Anita Blake  Vampire Hunter  #10)',
       'Native Son', "Neil Gaiman's Neverwhere",
       'Neither Here nor There: Travels in Europe', 'Never Let Me Go',
       'Neverwhere (London Below  #1)', 'Next',
       "Nick & Norah's Infinite Playlist",
       'Nickel and Dimed: On (Not) Getting by in America',
       'Nicolae (Left Behind  #3)', 'Nine Stories', 'Nineteen Minutes',
       'No Country for Old Men',
       'No Ordinary Time: Franklin and Eleanor Roosevelt: The Home Front in World War II',
       'Norwegian Wood',
       'Notes from Underground  White Nights  The Dream of a Ridiculous Man  and Selections from The House of the Dead',
       'Notes from a Small Island', 'Odd Thomas (Odd Thomas  #1)',
       'Oedipus Rex  (The Theban Plays  #1)', 'Of Human Bondage',
       'Of Love and Other Demons', 'Of Mice and Men',
       'On Basilisk Station (Honor Harrington  #1)', 'On Beauty',
       'One Day in the Life of Ivan Denisovich',
       'One Thousand White Women: The Journals of May Dodd (One Thousand White Women  #1)',
       'Open House', 'Orlando', 'Othello',
       'Out of the Silent Planet (The Space Trilogy  #1)',
       'Outlander (Outlander  #1)', 'Pale Fire', "Pandora's Star",
       'Paradise Lost', 'Patriot Games (Jack Ryan  #1)', 'Peony in Love',
       'Persepolis 2: The Story of a Return (Persepolis  #2)',
       'Persepolis: The Story of a Childhood (Persepolis  #1)',
       'Persuasion', 'Pet Sematary', 'Peter Pan',
       'Peter and the Shadow Thieves (Peter and the Starcatchers  #2)',
       'Peter and the Starcatchers (Peter and the Starcatchers  #1)',
       'Phantom (Sword of Truth  #10)', 'Phantoms', 'Picture Perfect',
       'Piercing the Darkness (Darkness  #2)', 'Pippi Longstocking',
       'Plain Truth', 'Plum Island (John Corey  #1)',
       "Plum Lovin' (Stephanie Plum  #12.5)",
       'Pop Goes the Weasel (Alex Cross  #5)', 'Pope Joan', 'Possession',
       'Postmortem (Kay Scarpetta  #1)',
       'Practical Demonkeeping (Pine Cove  #1)',

В данных нет пропусков и дубликатов.

*Таблица `authors`*

In [7]:
query = """
SELECT *
FROM authors;
"""
con=engine.connect()
authors = pd.io.sql.read_sql(sql=text(query), con = con)
authors.tail()

     author_id                                author
631        632         William Strunk Jr./E.B. White
632        633                           Zadie Smith
633        634                 Zilpha Keatley Snyder
634        635                    Zora Neale Hurston
635        636  Åsne Seierstad/Ingrid Christopherson

In [8]:
df_info(authors)

Количество строк файла: 636
Количество столбцов файла: 2

Информация о содержимом файла:

,Значения,тип данных,Кол-во уникальных значений
author_id,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",int64,636
author,"[A.S. Byatt, Aesop/Laura Harris/Laura Gibbs, A...",object,636

Информация о пропусках данных:

          column_name  num_missing  percent_missing
author_id   author_id            0              0.0
author         author            0              0.0

Первые пять строк таблицы:

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

In [9]:
# подсчёт явных дубликатов
authors.duplicated().sum()

0

In [10]:
# посмотрим неявные дубликаты
authors['author'].unique()

array(['A.S. Byatt', 'Aesop/Laura Harris/Laura Gibbs', 'Agatha Christie',
       'Alan Brennert', 'Alan Moore/David   Lloyd', 'Alan Paton',
       "Albert Camus/Justin O'Brien", 'Aldous Huxley',
       'Aldous Huxley/Christopher Hitchens',
       'Aleksandr Solzhenitsyn/H.T. Willetts', 'Alexander McCall Smith',
       'Alexander Pushkin/James E. Falen', 'Alexandre Dumas/Robin Buss',
       'Alice Hoffman', 'Alice Walker', 'Alison Bechdel',
       'Allen Ginsberg/William Carlos Williams', 'Amy Sedaris', 'Amy Tan',
       'Andy Warhol', 'Anita Diamant', 'Anita Shreve', 'Ann Brashares',
       'Ann Patchett', 'Ann Rule', 'Ann-Marie MacDonald', 'Anna Quindlen',
       'Anna Sewell', 'Anne Fadiman', 'Anne Lamott', 'Anne McCaffrey',
       'Anne Rice', 'Anonymous/N.K. Sandars', 'Anthony Bourdain',
       'Aristophanes/Sarah Ruden', 'Art Spiegelman',
       'Arthur  Miller/Christopher Bigsby',
       'Arthur Conan Doyle/Anne Perry/Sidney Paget', 'Arthur Golden',
       'Astrid Lindgren/Florence Lamborn/Louis S. Glanzman',
       'Atul Gawande/Susanne Kuhlmann-Krieg',
       'Audrey Penn/Ruth E. Harper/Nancy M. Leak', 'Augusten Burroughs',
       'Ayn Rand', 'Ayn Rand/Leonard Peikoff', 'Azar Nafisi',
       'Barack Obama', 'Barbara Ehrenreich', 'Barbara Kingsolver',
       'Barbara Kingsolver/Steven L. Hopp/Camille Kingsolver/Richard A. Houser',
       'Barbara Taylor Bradford', 'Barbara W. Tuchman/Robert K. Massie',
       'Beatrix Potter', 'Betty  Smith',
       'Betty MacDonald/Alexandra Boiger', 'Bill Bryson',
       'Bill Watterson',
       'Bill Willingham/Bryan Talbot/Lan Medina/Mark Buckingham/Linda Medley/Steve Leialoha/James Jean',
       'Bill Willingham/Terry Moore/Mike Allred/Lan Medina/Mark Buckingham/Matthew Sturges/Steve Leialoha/Craig Hamilton/Russ Braun/James Jean/Tony Akins/Eric Shanower/Shawn McManus/Jae Lee/Chrissie Zullo/David Petersen',
       'Billie Letts', 'Bob Dylan',
       'Bram Stoker/Nina Auerbach/David J. Skal', 'Brandon Mull',
       'Bret Easton Ellis', 'Brian Greene', 'Brian Jacques',
       "Bryan Lee O'Malley", 'Bryce Courtenay', 'C.S. Lewis',
       'CLAMP/Anthony Gerard', 'Caleb Carr', 'Candace Bushnell',
       'Carl Hiaasen', 'Carl Sagan/Ann Druyan', 'Caroline B. Cooney',
       'Carolyn Keene/Russell H. Tandy/Sara Paretsky', 'Carson McCullers',
       'Cecily von Ziegesar', 'Chaim Potok', 'Charles Bukowski',
       'Charles Burns', 'Charles C. Mann', 'Charles Darwin',
       'Charles Dickens', 'Charles Dickens/Michael Slater',
       'Charles Dickens/Nicola Bradbury/Hablot Knight Browne',
       'Charles Dickens/Stephen J. Wall/Helen Small', 'Charles Frazier',
       'Charlotte Brontë/Michael Mason', 'Chimamanda Ngozi Adichie',
       'Christina Schwarz', 'Christine Feehan', 'Christopher Marlowe',
       'Christopher Moore', 'Chuck Klosterman', 'Chuck Palahniuk',
       'Clayton M. Christensen/L.J. Ganser', 'Clive Cussler',
       'Cormac McCarthy', 'Cornelia Funke/Anthea Bell', 'Craig Thompson',
       'Curtis Sittenfeld', 'D.H. Lawrence/Geoff Dyer',
       'Dalai Lama XIV/Howard C. Cutler', 'Dale Carnegie', 'Dan Brown',
       'Dan Millman', 'Dan Simmons',
       'Daniel Defoe/Mark Schorer/Georgina Sutton',
       'Daniel Defoe/Virginia Woolf', 'Daniel Goleman', 'Daniel Keyes',
       'Dante Alighieri/Allen Mandelbaum/Eugenio Montale',
       'Daphne du Maurier/Sally Beauman', 'Dashiell Hammett',
       'Dava Sobel/Neil Armstrong', 'Dave Barry/Ridley Pearson/Greg Call',
       'Dave Eggers', 'Dave Pelzer', 'David    Allen', 'David Baldacci',
       'David Cote/Stephen Schwartz/Joan Marcus/Winnie Holzman',
       'David Foster Wallace', 'David Levithan', 'David McCullough',
       'David Weber', 'Dean Koontz', 'Dean R. Koontz', 'Dennis Lehane',
       'Diana Gabaldon', 'Diana Gabaldon/Janos Farkas',
       'Diana Wynne Jones', 'Diane Setterfield', 'Dodie Smith',
       'Don DeLillo', 'Donald Miller', 'Donna Tartt', 'Donna VanLiere',
       'Donna Woolfolk Cross', 'Doris Kearns Goodwin', 'Douglas Adams',
       'Douglas Preston/Lincoln Child', 'Dr. Seuss', 'Dr. Seuss/Various',
       'E.B. White/Fred Marcellino',
       'E.B. White/Garth Williams/Rosemary Wells', 'E.M. Forster',
       'E.M. Forster/Oliver Stallybrass/Pankaj Mishra', 'Eckhart Tolle',
       'Edgar Allan Poe', 'Edgar Allan Poe/Benjamin F. Fisher',
       'Edgar Rice Burroughs', 'Edgar Rice Burroughs/John Seelye',
       'Edith Hamilton/Steele Savage', 'Edith Wharton/Nina Bawden',
       'Edmond Rostand/Eteel Lawson/Lowell Bair', 'Edmund Morris',
       'Edward Albee', 'Edward P. Jones', 'Eleanor Estes/Louis Slobodkin',
       'Elizabeth Berg', 'Elizabeth Gilbert', 'Ellen Raskin',
       'Emily Giffin', 'Eric Schlosser',
       'Erich Fromm/Peter D. Kramer/Rainer Funk', 'Erik Larson',
       'Erik Larson/Tony Goldwyn', 'Ernest Hemingway',
       'Ernest Hemingway/John Hemingway/Patrick Hemingway/Gregory H. Hemingway/Charles Scribner Jr.',
       'Ernest J. Gaines', "Eugene O'Neill/Harold Bloom", 'Evelyn Waugh',
       'Faye Perozich/Anne Rice/John Bolton/Daerick Gröss',
       'Frances Hodgson Burnett', 'Frances Hodgson Burnett/Nancy Bond',
       'Frank Beddor', 'Frank E. Peretti', 'Frank Herbert',
       'Franz Kafka/Jason Baker/Donna Freed',
       'Franz Kafka/Max Brod/Willa Muir/Edwin Muir',
       'Friedrich Nietzsche/R.J. Hollingdale/Michael Tanner',
       'Fyodor Dostoyevsky/Andrew R. MacAndrew/Ben Marcus',
       'Fyodor Dostoyevsky/Anna Brailovsky/Joseph Frank/Constance Garnett/Alan Myers',
       'Fyodor Dostoyevsky/David McDuff',
       'Fyodor Dostoyevsky/Fyodor Dostoevsky/Richard Pevear/Larissa Volokhonsky',
       'Gabriel García Márquez', 'Gabriel García Márquez/Edith Grossman',
       'Gabriel García Márquez/Gregory Rabassa', 'Gail Carson Levine',
       'Gary Paulsen', 'Geoffrey Chaucer/Nevill Coghill',
       'George Bernard Shaw', 'George Eliot/A.S. Byatt',
       'George Orwell/Boris Grabnar/Peter Škerl',
       'George Orwell/Christopher Hitchens',
       'George Orwell/Lionel Trilling', 'George R.R. Martin',
       'George S. Clason', 'George Selden/Garth Williams',
       'Geraldine Brooks', 'Giada De Laurentiis',
       'Graham Greene/Monica Ali', 'Graham Greene/Robert  Stone',
       'Grant Morrison/Dave McKean', 'Greg Behrendt/Liz Tuccillo',
       'Gregory Maguire', 'Gregory Maguire/Douglas Smith/Jelena Bojić',
       'Gwyn Hyman Rubio', 'H. Rider Haggard', 'H.G. Wells',
       'H.G. Wells/Arthur C. Clarke', 'Harlan Coben', 'Haruki Murakami',
       'Haruki Murakami/Alfred Birnbaum', 'Haruki Murakami/Jay Rubin',
       'Haruki Murakami/Philip Gabriel', 'Henry David Thoreau',
       'Henry James/Patricia Crick', 'Henry Miller/Jiří Níl',
       'Herman Wouk', 'Herodotus/Aubrey de Sélincourt/John M. Marincola',
       'Hiromu Arakawa/Akira Watanabe',
       'Homer/Robert Fagles/Bernard Knox', 'Howard Zinn', 'Iain M. Banks',
       'Ian Fleming', 'Ian McEwan', 'Ilona Andrews',
       'Irvine Welsh/Eric Lindor Fall', 'Isaac Asimov',
       'Isabel Allende/Margaret Sayers Peden', 'Ishmael Beah',
       'Ivan Turgenev/George Reavy/Jane Costlow', 'J.D. Salinger',
       'J.K. Rowling/Mary GrandPré', 'J.M. Barrie/Michael Hague',
       'J.M. Coetzee', 'J.R. Ward', 'J.R.R. Tolkien',
       'J.R.R. Tolkien/Christopher Tolkien/Ted Nasmith',
       'J.R.R. Tolkien/Peter S. Beagle', 'Jack London', 'Jack London/Avi',
       'Jacqueline Carey', 'Jacquelyn Mitchard', 'James   McBride',
       'James A. Michener', 'James C. Collins/Jerry I. Porras',
       'James Clavell', 'James D. Bradley/Ron Powers', 'James Ellroy',
       'James Fenimore Cooper', 'James Frey',
       'James Joyce/Jeri Johnson/Thiên Lương', 'James Joyce/Seamus Deane',
       'James Patterson', 'James Patterson/Andrew Gross',
       'James Patterson/Howard Roughan', 'James Patterson/Maxine Paetro',
       'James Patterson/Michael Ledwidge',
       'James Patterson/Peter de Jonge',
       'James Patterson/مریم کاظمی\u200cتبار',
       'Jane Austen/Fiona Stafford',
       'Jane Austen/James Kinsley/Anna Massey/Richard S. Hartmetz/Maurgaux Motin/Deidre Shauna Lynch',
       'Jane Green', 'Jane Hamilton',
       'Jane Hamilton/Frank  Muller/C.J. Critt', 'Jane Smiley',
       'Janet Evanovich', 'Janet Evanovich/Lorelei King', 'Janet Fitch',
       'Jared Diamond', 'Jasper Fforde', 'Jean Craighead George',
       'Jean M. Auel', 'Jean-Jacques Rousseau/Maurice Cranston',
       'Jeannette Walls', 'Jeffery Deaver', 'Jeffrey Eugenides',
       'Jen Lancaster', 'Jennifer Crusie', 'Jennifer Weiner',
       'Jenny Nimmo', 'Jerome K. Jerome', 'Jhumpa Lahiri', 'Jim Butcher',
       'Jim Fergus', 'Joan Didion', 'Joanne Fluke', 'Jodi Picoult',
       'Joe Haldeman', 'Joe Simpson',
       'Johann Wolfgang von Goethe/Burton Pike/Edla Valdna',
       'Johann Wolfgang von Goethe/Peter Salm',
       'Johanna Spyri/Beverly Cleary/Angelo  Rinaldi', 'John Bunyan',
       'John Eldredge', 'John Eldredge/Stasi Eldredge', 'John Fowles',
       'John Gray', 'John Grisham', 'John Grisham/Jorma-Veikko Sappinen',
       'John Grogan', 'John Hersey', 'John Howard Griffin', 'John Irving',
       'John Knowles/David Levithan', 'John Milton/John      Leonard',
       'John Sandford', 'John Steinbeck',
       'John Steinbeck/Susan Shillinglaw', 'Jon Kabat-Zinn',
       'Jon Krakauer', 'Jon Stone/Michael J. Smollin', 'Jonathan Franzen',
       'Jonathan Safran Foer', 'Jonathan Swift/Robert DeMaria Jr.',
       'Joseph Campbell/Bill Moyers', 'Joseph Conrad', 'Joseph J. Ellis',
       'José Saramago/Giovanni Pontiero', 'Joyce Carol Oates',
       'Judi Barrett/Ron Barrett', 'Judy Blume', 'Jules Verne',
       'Jules Verne/Anthony Bonner',
       'Jules Verne/Caleb Carr/Jordan Stump',
       "Julia Child/Alex Prud'Homme", 'Julie Powell', 'Jung Chang',
       'Kahlil Gibran/جبران خليل جبران/Jihad El', 'Karen Armstrong',
       'Karen Cushman', 'Karen Joy Fowler', 'Karin Slaughter',
       'Karl Marx/Friedrich Engels/Gareth Stedman Jones', 'Kate Atkinson',
       'Kate DiCamillo/Bagram Ibatoulline',
       'Kate DiCamillo/Timothy Basil Ering', 'Kate Jacobs', 'Kate Mosse',
       'Katherine Dunn', 'Kazuo Ishiguro', 'Kelley Armstrong',
       'Kenneth Grahame/Gillian Avery',
       'Kerry Patterson/Joseph Grenny/Ron McMillan/Al Switzler/Stephen R. Covey',
       'Kim Edwards', 'Kim Harrison', 'Kimon Nicolaides/Mamie Harmon',
       'Kresley Cole', 'Kurt Vonnegut Jr.',
       'Kurt Vonnegut Jr./Daniel Simon', 'L.M. Montgomery',
       'Lalita Tademy', 'Lance Armstrong/Sally Jenkins',
       'Laura Esquivel/Thomas  Christensen/Carol Christensen',
       'Laura Ingalls Wilder/Garth Williams', 'Laurell K. Hamilton',
       'Lauren Weisberger', 'Lee Child/Dick Hill',
       'Leo Tolstoy/David Magarshack/Priscilla Meyer',
       'Leo Tolstoy/Henry Gifford/Aylmer Maude/Louise Maude', 'Leon Uris',
       'Leonardo da Vinci/H. Anna Suh',
       'Lewis Carroll/Jane Carruth/Rene Cloke',
       'Lewis Carroll/John Tenniel/Martin Gardner', 'Libba Bray',
       'Lisa Gardner/Anna Fields', 'Lisa See', 'Lloyd Alexander',
       'Lois Lowry', 'Louis Sachar', 'Louis Sachar/Adam McCauley',
       'Louis de Bernières', 'Louisa May Alcott', 'Lynsay Sands',
       'M.M. Kaye', 'Maeve Binchy',
       'Maeve Binchy/René Huigen/Frans Thomése', 'Malcolm Gladwell',
       'Marcel Proust/Lydia Davis',
       'Marcus Aurelius/Martin Hammond/Albert Wittstock/Diskin Clay',
       'Margaret Atwood', 'Margaret Atwood/Laurel Merlington',
       'Margaret Mitchell', 'Margaret Weis/Tracy Hickman',
       'Margaret Wise Brown/Clement Hurd',
       'Marguerite Henry/Wesley Dennis', 'Marian Keyes',
       'Marilynne Robinson', 'Marisha Pessl',
       'Marjane Satrapi/Anjali Singh', 'Marjane Satrapi/Mattias Ripa',
       'Mark Haddon', 'Mark Kurlansky',
       'Mark Twain/Guy Cardwell/John Seelye',
       'Mark Twain/Guy Cardwell/John Seelye/Walter Trier',
       'Mark Twain/Shelly Fisher Fishkin',
       'Mark Waid/Alex Ross/Elliot S. Maggin', 'Mark Z. Danielewski',
       'Markus Zusak/Cao Xuân Việt Khương',
       'Markus Zusak/Emmanuel Pailler', 'Mary Higgins Clark', 'Mary Karr',
       'Mary Roach', 'Maureen Johnson', 'Max Brooks', 'Meg Cabot',
       'Megan Whalen Turner', 'Mercedes Lackey', 'Michael   Lewis',
       'Michael Chabon', 'Michael Connelly', 'Michael Crichton',
       'Michael Pollan', 'Miep Gies/Alison Leslie Gold',
       'Miguel de Cervantes Saavedra/John Rutherford/Roberto González Echevarría',
       'Mike Carey/Glenn Fabry/Neil Gaiman',
       'Milan Kundera/Michael Henry Heim', 'Mitch Albom', 'Naomi Novik',
       'Napoleon Hill', 'Nassim Nicholas Taleb',
       'Nathaniel Hawthorne/Thomas E. Connolly/Nina Baym',
       'Nathaniel Philbrick', 'Neal Stephenson',
       'Neal Stephenson/Guy Abadia', 'Neal Stephenson/Pedro Jorge Romero',
       'Neil Gaiman',
       'Neil Gaiman/Andy Kubert/Richard Isanove/Peter Sanderson/Todd Klein',
       'Neil Gaiman/Bryan Talbot/Stan Woch/P. Craig Russell/Shawn McManus/John Watkiss/Jill Thompson/Duncan Eagleson/Kent Williams/Todd Klein',
       'Neil Gaiman/Chris Bachalo/Mark Buckingham/Tori Amos',
       'Neil Gaiman/Dave McKean',
       'Neil Gaiman/Kelley Jones/Charles Vess/Colleen Doran/Malcolm Jones III/Steve Erickson',
       'Neil Gaiman/Matt Wagner/George Pratt/Dick Giordano/Kelley Jones/P. Craig Russell/Mike Dringenberg/Malcolm Jones III/Todd Klein/Harlan Ellison',
       'Neil Gaiman/Michael Zulli/Jon J. Muth/Charles Vess/Mikal Gilmore',
       'Neil Gaiman/Mike Allred/Gary Amaro/Mark Buckingham/David Giordano/Tony Harris/Steve Leialoha/Vince Locke/Shea Anton Pensa/Alec Stevens/Bryan Talbot/John Watkiss/Todd Klein/Michael Zulli/Stephen King',
       'Neil Gaiman/Sam Kieth/Mike Dringenberg/Malcolm Jones III/Todd Klein/Karen  Berger',
       'Neil Gaiman/Shawn McManus/Colleen Doran/Bryan Talbot/George Pratt/Stan Woch/Dick Giordano/Todd Klein',
       'Neil Gaiman/Steve Parkhouse/Chris Bachalo/Michael Zulli/Mike Dringenberg/Malcolm Jones III/Todd Klein/Clive Barker',
       'Nelson DeMille', 'Newt Scamander/J.K. Rowling',
       'Niccolò Machiavelli/Rufus Goodwin/Benjamin Martinez',
       'Nicholas Sparks', 'Nicholas Sparks/Micah Sparks', 'Nick Hornby',
       'Nicole Krauss', 'Nigella Lawson',
       'Nikolai Gogol/Robert A. Maguire/Zlatko Crnković', 'Nora Ephron',
       'Nora Roberts', 'Orson Scott Card',
       'Orson Scott Card/Piotr W. Cholewa', 'Oscar Wilde',
       'Oscar Wilde/Jeffrey Eugenides', 'Ovid/David Raeburn/Denis Feeney',
       'P.C. Cast/Kristin Cast',
       'Pablo Neruda/W.S. Merwin/Cristina García', 'Pat Conroy',
       'Pat Frank', 'Patricia Cornwell', 'Patricia Cornwell/C.J. Critt',
       'Patricia Daniels Cornwell/Patricia Cornwell', 'Patricia Schultz',
       'Patrick Lencioni', 'Paul Auster/Art Spiegelman/Luc Sante',
       'Paulo Coelho/Alan R. Clarke',
       'Paulo Coelho/Alan R. Clarke/Özdemir İnce',
       'Paulo Coelho/Amanda Hopkinson/Nick Caistor',
       'Paulo Coelho/Margaret Jull Costa',
       'Paulo Coelho/Margaret Jull Costa/Kâmuran Şipal', 'Pearl S. Buck',
       'Peter F. Hamilton', 'Peter Mayle', 'Peter Straub',
       'Philip K. Dick', 'Philip K. Dick/David Alabort/Manuel Espín',
       'Philip Pullman', 'Philip Roth', 'Philippa Gregory',
       'Plato/Desmond Lee/Maria Helena da Rocha Pereira/Benjamin Jowett',
       'Primo Levi/Stuart J. Woolf/Philip Roth', 'Rachel Caine',
       'Rachel Carson/Linda Lear/Edward O. Wilson',
       'Rachel Cohn/David Levithan', 'Raymond Chandler',
       'Raymond E. Feist', 'Richard Bach', 'Richard Bachman/Stephen King',
       'Richard Dawkins', 'Richard Matheson', 'Richard P. Feynman',
       'Richard Paige/Dean Koontz', 'Richard Peck', 'Richard Preston',
       'Richard Wright', 'Rick Riordan', 'Roald Dahl/Quentin Blake',
       'Robert A. Heinlein', 'Robert B. Cialdini', 'Robert Frost',
       'Robert Graves', 'Robert Greene/Joost Elffers', 'Robert Jordan',
       'Robert Kirkman/Tony Moore/Charlie Adlard/Cliff Rathburn',
       'Robert Louis Stevenson', 'Robert Ludlum', 'Robert M. Pirsig',
       'Robert Penn Warren', 'Robert R. McCammon', 'Robin Hobb',
       'Robin McKinley', 'Robin S. Sharma',
       'Robin Waterfield/John Grisham', 'Rodman Philbrick',
       'Rohinton Mistry', 'Ron Chernow', 'Rosamunde Pilcher',
       'Rudyard Kipling', 'Rudyard Kipling/Alev Lytle Croutier',
       'Rumiko Takahashi', 'Ruth Stiles Gannett', 'Salman Rushdie',
       'Sam Harris', 'Sandra Boynton', 'Sara Gruen', 'Sarah Dessen',
       'Sarah Dunant', 'Scott Turow', 'Scott Westerfeld',
       'Sebastian Faulks', 'Sena Jeter Naslund', 'Shel Silverstein',
       'Sidney Sheldon', 'Sophie Kinsella', 'Sophocles/J.E. Thomas',
       'Sophocles/Robert Fitzgerald/Dudley Fitts',
       'Spencer Johnson/Kenneth H. Blanchard', 'Stephen E. Ambrose',
       'Stephen Hawking', 'Stephen King', 'Stephen King/Bernie Wrightson',
       'Stephen King/Bernie Wrightson/Michele Wrightson',
       'Stephen King/Bettina Blanch Tyroller',
       'Stephen King/Jerry N. Uelsmann', 'Stephen King/Marie Milpois',
       'Stephen King/Ned Dameron', 'Stephen King/Peter Straub',
       'Stephen King/Robin Waterfield',
       'Stephen King/William Olivier Desmond/Maria Teresa Marenco',
       'Stephen R. Covey/A. Roger Merrill/Rebecca R. Merrill',
       'Stephen R. Covey/Jim Collins', 'Stephenie Meyer', 'Steve Martin',
       'Steven D. Levitt/Stephen J. Dubner', 'Steven Johnson',
       'Steven Pressfield/Robert McKee', 'Sue Miller', 'Sue Monk Kidd',
       'Sun Tzu/Thomas Cleary/Pulat Otkan/Giray Fidan',
       'Susan Hill/John Lawrence', 'Sylvia Nasar', 'T.H. White',
       'T.S. Eliot/Michael North', 'Tad Williams', 'Tamora Pierce',
       'Teddy Slater/Ron Dias/Ric González', 'Tennessee Williams',
       'Terry Goodkind', 'Terry Pratchett', 'Tess Gerritsen',
       'Theo LeSieg/Dr. Seuss/Roy McKie', 'Theodore Taylor',
       'Thomas  Harris', 'Thomas Cahill',
       'Thomas Hardy/Alexander Theroux',
       'Thomas Hardy/Rosemarie Morgan/Shannon Russell',
       'Thomas J. Stanley/William D. Danko', 'Thomas L. Friedman',
       'Thomas More/Paul Turner', 'Thomas Pynchon',
       'Tim LaHaye/Jerry B. Jenkins', 'Tite Kubo', 'Tom Clancy',
       'Tom Clancy/David Dukes', 'Tom Robbins', 'Tom Stoppard',
       'Toni Morrison', 'Tracy Kidder', 'Trudi Canavan',
       'Tsugumi Ohba/Takeshi Obata/Pookie Rolf', 'Tucker Max',
       'Umberto Eco/Girolamo De Michele/Alastair McEwen/Agnolo di Cosimo Bronzino',
       'Umberto Eco/William Weaver',
       'Upton Sinclair/Earl Lee/Kathleen DeGrave', 'Ursula K. Le Guin',
       'Ursula K. Le Guin/Margot Paronis', 'Victor Hugo/Walter J. Cobb',
       'Victoria Finlay',
       'Viktor E. Frankl/Harold S. Kushner/William J. Winslade/Isle Lasch',
       'Vince Flynn', 'Virgil/Robert Fitzgerald', 'Virginia Woolf',
       'Virginia Woolf/Maureen Howard', 'Vladimir Nabokov',
       'W. Chan Kim/Renée Mauborgne', 'W. Somerset Maugham',
       'W. Somerset Maugham/Benjamin DeMott/Maeve Binchy',
       'Wallace Stegner/Terry Tempest Williams/T.H. Watkins',
       'Wally Lamb', 'Walter Dean Myers', 'Walter Isaacson',
       'Walter Scott/Graham Tulloch',
       'Wilkie Collins/Carolyn G. Heilbrun',
       'Wilkie Collins/Matthew Sweet', 'Willa Cather', 'William Faulkner',
       'William Gibson',
       'William Gibson/Bruce Sterling/Jonathan Davis/Dennis Holland/Kevin Pariseau/Victor Bevine/Jay Snyder/Brian Nishil/L.J. Ganser/Oliver Wyman/Eric Michael Summerer/Marc Vietor',
       'William Golding', 'William Goldman',
       'William Makepeace Thackeray/John Carey',
       'William S. Burroughs/James Grauerholz/Barry Miles',
       'William S. Burroughs/Oliver  Harris/Allen Ginsberg',
       'William Shakespeare',
       'William Shakespeare/Barbara A. Mowat/Paul Werstine/Michael Neill',
       'William Shakespeare/Harold Bloom/Rex Gibson',
       'William Shakespeare/Katherine Duncan-Jones',
       'William Shakespeare/Paul Werstine/Barbara A. Mowat',

В данных нет пропусков и дубликатов.

*Таблица `publishers`*

In [11]:
query = """
SELECT *
FROM publishers;
"""
con=engine.connect()
publishers = pd.io.sql.read_sql(sql=text(query), con = con)
publishers.tail()

     publisher_id                   publisher
335           336  Workman Publishing Company
336           337                  Wyatt Book
337           338       Yale University Press
338           339                    Yearling
339           340              Yearling Books

In [12]:
df_info(publishers)

Количество строк файла: 340
Количество столбцов файла: 2

Информация о содержимом файла:

,Значения,тип данных,Кол-во уникальных значений
publisher_id,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",int64,340
publisher,"[Ace, Ace Book, Ace Books, Ace Hardcover, Addi...",object,340

Информация о пропусках данных:

               column_name  num_missing  percent_missing
publisher_id  publisher_id            0              0.0
publisher        publisher            0              0.0

Первые пять строк таблицы:

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

In [13]:
# подсчёт явных дубликатов
publishers.duplicated().sum()

0

In [14]:
# посмотрим неявные дубликаты
publishers['publisher'].unique()

array(['Ace', 'Ace Book', 'Ace Books', 'Ace Hardcover',
       'Addison Wesley Publishing Company', 'Aladdin',
       'Aladdin Paperbacks', 'Albin Michel', 'Alfred A. Knopf',
       'Alfred A. Knopf Books for Young Readers',
       'Alfred A. Knopf Borzoi Books', 'Algonquin Books', 'Allen & Ulwin',
       'Amistad', 'Anchor', 'Anchor Books',
       'Anchor Books/Knopf Doubleday Publishing Group',
       'Andrews McMeel Publishing', 'Applewood Books', 'Arrow',
       'Arrow Books', 'Arrow Books Ltd', 'Arthur A. Levine Books',
       'Arthur A. Levine Books / Scholastic Inc.',
       'Atheneum Books for Young Readers',
       'Atheneum Books for Young Readers: Richard Jackson Books',
       'Atria Books', 'Avon', 'Avon Books', 'BALLANTINE BOOKS',
       'Back Bay Books', 'Baen Books', 'Ballantine Books',
       'Ballantine Books (NY)', 'Bantam', 'Bantam Books',
       'Bantam Books  Inc.', 'Bantam Classics',
       'Bantam Doubleday Dell (NYC)', 'Bantam Spectra', 'Bantem Press',
       'Barnes  Noble Classics', 'Barnes & Noble', 'Beacon Press',
       'Berkley', 'Berkley Books', 'Berkley Hardcover',
       'Berkley Publishing Group', 'Black Dog & Leventhal',
       'Black Dog & Leventhal Publishers', 'Black Swan',
       'Bloomsbury Academic', 'Bloomsbury Childrens Books',
       'Bloomsbury Methuen Drama', 'Brilliance Audio', 'Broadway Books',
       'Cambridge University Press', 'Candlewick Press', 'Canongate U.S.',
       'Castle Books', "Children's Classics", 'Citadel', 'City Lights',
       'Clarkson Potter', 'Corgi', 'Corgi Childrens', 'Crossway Books',
       'Crown', 'Crown Publishing Group (NY)', 'DAW', 'DC Comics',
       'Dante University of America Press', 'David R. Godine Publisher',
       'Daw Books', 'Debolsillo', 'Del Rey', 'Del Rey Books',
       'Delacorte Books', 'Delacorte Press', 'Dell', 'Dell Laurel-Leaf',
       'Dell Publishing Company', 'Delta', 'Delta Publishing', 'Deodand',
       "Devil's Due Publishing", 'Dial Books', 'Dial Press',
       'Dial Press Trade Paperback', 'Digireads.com',
       'Disney Hyperion Books', 'Disney-Hyperion', 'Doubleday',
       'Doubleday & Company  Inc.', 'Doubleday Books',
       'Dover Publications', 'Dramatists Play Service', 'Dutton', 'Ecco',
       'Ecco/Harper Perennial', 'Ember', 'Eos', "Everyman's Library",
       'Faber  Faber', 'Farrar  Straus and Giroux',
       'Farrar  Straus and Giroux (NY)', 'Fourth Estate Paperbacks',
       'Free Press', "G.P. Putnam's Sons", 'Gallery / Saga Press',
       'Gallery Books', 'Golden Books', 'Golden/Disney', 'Gollancz',
       'Gramercy Books', 'Grand Central Publishing', 'Green Integer',
       'Griffin', 'Grove Press', 'HJ Kramer',
       'HMH Books for Young Readers', 'Hachette Books',
       'Hackett Publishing Company  Inc.', 'Harcourt  Inc.(Harvest Book)',
       'Harcourt Brace', 'Harper', 'Harper Business', 'Harper Paperbacks',
       'Harper Perennial', 'Harper Perennial Modern Classics',
       'Harper Trophy', 'Harper Voyager', 'HarperCollins',
       'HarperCollins Perennial', 'HarperCollins Publishers',
       'HarperCollins Publishers Ltd', 'HarperCollinsChildren’sBooks',
       'HarperCollinsPublishers', 'HarperOne',
       'HarperPerennial / Perennial Classics', 'HarperPrism',
       'HarperTempest', 'HarperTorch', 'HarperTrophy',
       "Harpercollins Children's Books", 'Harpercollins Childrens Books',
       'Hartorch', 'Harvard Business Review Press', 'Harvest Books',
       'Headline Review', 'Health Communications Inc',
       'Henry Holt and Co.', 'Hodder & Stoughton', 'Houghton Mifflin',
       'Houghton Mifflin Co. (Boston/NY)', 'Houghton Mifflin Company',
       'Houghton Mifflin Harcourt', 'Howard Publishing Co', 'Hyperion',
       'Hyperion Books', 'Image Comics', 'Island', 'Jossey-Bass', 'Jove',
       'Kensington', 'Kingfisher', 'Knopf',
       'Knopf Books for Young Readers', 'Knopf Publishing Group', 'LGF',
       'La factoría de ideas', 'Laurel Leaf', 'Leisure Books',
       'Listening Library (Audio)', 'Little  Brown & Company',
       'Little  Brown and Company', 'Little Brown and Company',
       'Mariner Books', 'Marvel', 'McGraw-Hill Education', "McSweeney's",
       'Millenium', 'Modern Library', 'Modern Library Classics',
       'Mysterious Press', 'NAL', 'NAL Jam', 'Nelson Books',
       'New English Library', 'New English Library (Hodder & Stoughton)',
       'New Millennium Library', 'New World Library', 'No Exit Press',
       'Noonday Press', 'Norton', 'Oni Press', 'Onyx', 'Orbit',
       'Orchard Books', 'Orion', 'Orion Publishing Group',
       'Owl Books (Henry Holt)', 'Oxford University Press',
       'Oxford University Press  USA', 'Pan Childrens', 'Pantheon',
       'Pantheon Books', 'Pearson', 'Pearson Longman', 'Penguin',
       'Penguin (Business)', 'Penguin Books',
       'Penguin Books /Penguin Classics', 'Penguin Books Limited',
       'Penguin Books Ltd', 'Penguin Books Ltd. (London)',
       'Penguin Classics', 'Penguin Classics Deluxe Editions',
       'Penguin Group (USA)', 'Penguin Signet',
       'Perennial / William Morrow / HarperCollins',
       'Perfection Learning', 'Picador USA', 'Plaza y Janes',
       'Plaza y Janés', 'Plume', 'Plume Books', 'Pocket', 'Pocket Books',
       'Pocket Books / Simon & Schuster  Inc.', 'Pocket Star',
       'Prestwick House - (Literary Touchstone Classic)',
       'Princeton University Press', 'Puffin', 'Puffin Books', 'Putnam',
       'Random House', 'Random House Anchor',
       'Random House Audio Publishing Group',
       'Random House Books for Young Readers',
       'Random House Large Print Publishing', 'Random House Trade',
       'Random House Trade Paperbacks', 'Random House Vintage',
       'Random House: Modern Library', 'Red Fox', 'Riverhead Books',
       'Riverhead Hardcover', 'Rizzoli', 'Roc', 'Rupa & Co',
       'Sarah Crichton Books', 'Scholastic', 'Scholastic Books',
       'Scholastic Inc.', 'Scholastic Paperbacks', 'Scholastic Press',
       'Scribner', 'Seal', 'See Sharp Press', 'Seuil',
       'Severn House Publishers', 'Shadow Mountain', 'Shambhala',
       'Signet', 'Signet Book', 'Signet Classics', 'Simon  Schuster',
       'Simon & Schuster', 'Simon & Schuster Childrens Books',
       'Simon & Schuster Paperbacks', 'Simon & Schuster Simon Pulse',
       'Simon & Schuster; Media Tie-In edition', 'Simon Pulse',
       'Simon Schuster', 'Simon and Schuster', 'Smithmark Publishers',
       'Speak', 'Spectra', 'Spectra Books', 'Square Fish',
       "St. Martin's Griffin", "St. Martin's Paperbacks",
       "St. Martin's Press", 'Starfire', 'Starscape', 'TIme Warner Books',
       'Tanglewood', 'Tarcherperigee', 'The Chicken House',
       'Thomas Nelson', 'Thorndike Press', 'Titan Books',
       'Tom Doherty Tor Fantasy', 'Top Shelf Productions', 'Tor',
       'Tor Books', 'Tor Fantasy', 'Touchstone Books', 'Turtleback',
       'Turtleback Books', 'Tyndale House Publishers', 'VIZ Media LLC',
       'Vermilion', 'Vertigo', 'Victor Gollancz', 'Viking',
       'Viking Adult', 'Vintage', 'Vintage Books', 'Vintage Books USA',
       'Vintage Classics', 'Vintage Contemporaries', 'Vintage Crime',
       'Vintage International', 'Virago', 'Virago Press (UK)', 'Vision',
       'Voyager', 'W. W. Norton  Company', 'W. W. Norton & Company',
       'W.W. Norton & Company', 'W.W. Norton & Company (NYC)',
       'Walker Books', 'Warne', 'Warner Books', 'Warner Books (NY)',
       'Warners Visions Books', 'Washington Square Press',
       'Wildside Press', 'William Morrow',
       'William Morrow / HarperCollins / Harper Perennial',
       'William Morrow Paperbacks', 'William Morrow; 1ST edition',
       'Wordsworth Editions', 'Workman Publishing Company', 'Wyatt Book',
       'Yale University Press', 'Yearling', 'Yearling Books'],
      dtype=object)

В данных нет пропусков и дубликатов.

*Таблица `ratings`*

In [15]:
query = """
SELECT *
FROM ratings;
"""
con=engine.connect()
ratings = pd.io.sql.read_sql(sql=text(query), con = con)
ratings.tail()

      rating_id  book_id        username  rating
6451       6452     1000  carolrodriguez       4
6452       6453     1000         wendy18       4
6453       6454     1000      jarvispaul       5
6454       6455     1000           zross       2
6455       6456     1000         fharris       5

In [16]:
df_info(ratings)

Количество строк файла: 6456
Количество столбцов файла: 4

Информация о содержимом файла:

,Значения,тип данных,Кол-во уникальных значений
rating_id,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",int64,6456
book_id,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",int64,1000
rating,"[4, 2, 5, 3, 1]",int64,5
username,"[ryanfranco, grantpatricia, brandtandrea, lori...",object,160

Информация о пропусках данных:

          column_name  num_missing  percent_missing
rating_id   rating_id            0              0.0
book_id       book_id            0              0.0
username     username            0              0.0
rating         rating            0              0.0

Первые пять строк таблицы:

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [17]:
# подсчёт явных дубликатов
ratings.duplicated().sum()

0

In [18]:
# посмотрим неявные дубликаты
ratings['username'].unique()

array(['ryanfranco', 'grantpatricia', 'brandtandrea', 'lorichen',
       'mariokeller', 'johnsonamanda', 'scotttamara', 'lesliegibbs',
       'abbottjames', 'valenciaanne', 'jeromebowen', 'staylor', 'susan85',
       'npowers', 'znelson', 'thomas49', 'eallen', 'shermannatalie',
       'martinadam', 'serranoangela', 'adamsabigail', 'sfitzgerald',
       'walter49', 'jasongoodman', 'shannonsutton', 'kevin78', 'carla64',
       'robert56', 'williamsangela', 'cassandra90', 'richard89',
       'ashleymalone', 'ehall', 'tara26', 'tanya01', 'lharvey', 'ryan01',
       'laura42', 'jessica49', 'stacyfrost', 'brentpowers', 'isaiahreyes',
       'ncurry', 'amymckenzie', 'daniel19', 'amy97', 'lewisdesiree',
       'todd65', 'ulowe', 'jhill', 'patriciajohnson', 'bobbyhood',
       'odavila', 'zjohnston', 'jarvispaul', 'rmiller', 'ewerner',
       'millernicholas', 'ashleyjoshua', 'andrewfox', 'shafferrobert',
       'markdunn', 'joseph14', 'qadams', 'martinyvonne', 'nicole53',
       'sabrinabrown', 'julie81', 'kingandrew', 'wknight', 'wsingleton',
       'dmiller', 'jennifermiller', 'robert57', 'perrypatricia',
       'murrayerin', 'robert00', 'dwayne09', 'fnguyen', 'dawn71',
       'dharris', 'carriehale', 'briannachavez', 'fharris', 'tnovak',
       'annawarner', 'zross', 'anthonyanderson', 'roberto26', 'michael57',
       'yvonnevillarreal', 'timothygibson', 'paul88', 'fieldsangela',
       'hollandkristin', 'cassandragomez', 'xdavis', 'kevinquinn',
       'rbender', 'tamarasmith', 'wendy18', 'kristykirby', 'samuel96',
       'masonsara', 'qmiller', 'pthomas', 'charlesraymond', 'carlsondean',
       'michele09', 'edwardbrown', 'patrickhudson', 'carlsonbrad',
       'danielpatrick', 'joshuareed', 'vcarter', 'joe06', 'conradanita',
       'debra43', 'michaelwilson', 'williamswesley', 'taylorjeffrey',
       'emilywright', 'nicoleburns', 'andreaeaton', 'paul30', 'tnolan',
       'yweeks', 'lunakathryn', 'craigjeff', 'nolanalexander',
       'robertwells', 'urussell', 'michellewhite', 'brianwoods',
       'abigailmoore', 'grogers', 'alison92', 'larrymoran',
       'elliotttabitha', 'kevincampbell', 'webbmichelle', 'jnelson',
       'emcdaniel', 'othompson', 'johngonzalez', 'vanessagardner',
       'erica20', 'fconrad', 'colin90', 'yvasquez', 'carolrodriguez',
       'shafferjason', 'patrick05', 'ubailey', 'nthomas', 'aneal',
       'danielchung', 'gmccann', 'kimberly57', 'awright'], dtype=object)

В данных нет пропусков и дубликатов.

*Таблица `reviews`*

In [19]:
query = """
SELECT *
FROM reviews;
"""
con=engine.connect()
reviews = pd.io.sql.read_sql(sql=text(query), con = con)
reviews.tail()

,review_id,book_id,username,text
2788,2789,999,martinadam,Later hospital turn easy community. Fact same ...
2789,2790,1000,wknight,Change lose answer close pressure. Spend so now.
2790,2791,1000,carolrodriguez,Authority go who television entire hair guy po...
2791,2792,1000,wendy18,Or western offer wonder ask. More hear phone f...
2792,2793,1000,jarvispaul,Republican staff bit eat material measure plan...

In [20]:
df_info(reviews)

Количество строк файла: 2793
Количество столбцов файла: 4

Информация о содержимом файла:

,Значения,тип данных,Кол-во уникальных значений
review_id,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",int64,2793
book_id,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",int64,994
username,"[brandtandrea, ryanfranco, lorichen, johnsonam...",object,160
text,[Mention society tell send professor analysis....,object,2793

Информация о пропусках данных:

          column_name  num_missing  percent_missing
review_id   review_id            0              0.0
book_id       book_id            0              0.0
username     username            0              0.0
text             text            0              0.0

Первые пять строк таблицы:

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

In [21]:
# подсчёт явных дубликатов
reviews.duplicated().sum()

0

In [22]:
# посмотрим неявные дубликаты
reviews['username'].unique()

array(['brandtandrea', 'ryanfranco', 'lorichen', 'johnsonamanda',
       'scotttamara', 'lesliegibbs', 'valenciaanne', 'abbottjames',
       'npowers', 'staylor', 'thomas49', 'znelson', 'walter49',
       'jasongoodman', 'eallen', 'sfitzgerald', 'carla64', 'kevin78',
       'robert56', 'richard89', 'cassandra90', 'williamsangela', 'ehall',
       'lharvey', 'tanya01', 'stacyfrost', 'laura42', 'isaiahreyes',
       'daniel19', 'amy97', 'todd65', 'ulowe', 'patriciajohnson',
       'martinyvonne', 'martinadam', 'ncurry', 'nicole53', 'kingandrew',
       'wsingleton', 'wknight', 'dmiller', 'shafferrobert',
       'jennifermiller', 'robert57', 'perrypatricia', 'tara26',
       'shannonsutton', 'tnolan', 'murrayerin', 'robert00', 'carriehale',
       'dharris', 'fnguyen', 'ashleyjoshua', 'tnovak', 'fharris', 'zross',
       'annawarner', 'anthonyanderson', 'paul88', 'hollandkristin',
       'jhill', 'jeromebowen', 'rbender', 'yvonnevillarreal', 'michael57',
       'xdavis', 'wendy18', 'samuel96', 'kristykirby', 'mariokeller',
       'qmiller', 'masonsara', 'pthomas', 'carlsondean', 'shermannatalie',
       'michele09', 'edwardbrown', 'patrickhudson', 'carlsonbrad',
       'danielpatrick', 'fieldsangela', 'joshuareed', 'joe06', 'vcarter',
       'conradanita', 'debra43', 'susan85', 'timothygibson',
       'williamswesley', 'charlesraymond', 'taylorjeffrey', 'bobbyhood',
       'lewisdesiree', 'paul30', 'dawn71', 'nolanalexander',
       'robertwells', 'rmiller', 'amymckenzie', 'michellewhite',
       'ewerner', 'brianwoods', 'joseph14', 'dwayne09', 'grogers',
       'larrymoran', 'abigailmoore', 'jnelson', 'webbmichelle',
       'emilywright', 'urussell', 'craigjeff', 'erica20',
       'vanessagardner', 'kevinquinn', 'markdunn', 'andrewfox',
       'jessica49', 'michaelwilson', 'andreaeaton', 'grantpatricia',
       'aneal', 'elliotttabitha', 'briannachavez', 'nicoleburns',
       'alison92', 'ubailey', 'ryan01', 'lunakathryn', 'yweeks',
       'nthomas', 'sabrinabrown', 'carolrodriguez', 'patrick05',
       'fconrad', 'emcdaniel', 'jarvispaul', 'zjohnston', 'colin90',
       'julie81', 'tamarasmith', 'cassandragomez', 'qadams', 'yvasquez',
       'ashleymalone', 'danielchung', 'brentpowers', 'kevincampbell',
       'kimberly57', 'gmccann', 'serranoangela', 'odavila', 'othompson',
       'adamsabigail', 'awright', 'johngonzalez', 'shafferjason',
       'roberto26', 'millernicholas'], dtype=object)

В данных нет пропусков и дубликатов.

## Запросы к базе данных <a id='intro4'></a>

**Посчитаем сколько книг вышло после 1 января 2000 года**

In [23]:
query = """
SELECT COUNT(book_id)
FROM books
WHERE publication_date > '2000-01-01'::date;

"""
con=engine.connect()
ansver = pd.io.sql.read_sql(sql=text(query), con = con)
ansver

   count
0    819

После 1 января 2000 вышло 819 книг.

**Для каждой книги посчитаем количество обзоров и среднюю оценку**

In [24]:
query = """
SELECT title,
       COUNT(DISTINCT review_id) AS review_cnt,
       ROUND(AVG(rating), 2) AS rating_avg
FROM books AS b 
     LEFT JOIN ratings AS r 
     ON b.book_id = r.book_id
     LEFT JOIN reviews AS rv 
     ON b.book_id = rv.book_id
GROUP BY b.book_id
ORDER BY rating_avg DESC, 
         review_cnt DESC;

"""
con=engine.connect()
ansver = pd.io.sql.read_sql(sql=text(query), con = con)
ansver

                                                 title  review_cnt  rating_avg
0                        A Dirty Job (Grim Reaper  #1)           4        5.00
1              School's Out—Forever (Maximum Ride  #2)           3        5.00
2         Moneyball: The Art of Winning an Unfair Game           3        5.00
3                   The Big Bad Wolf  (Alex Cross  #9)           2        5.00
4                 Welcome to Temptation (Dempseys  #1)           2        5.00
..                                                 ...         ...         ...
995  The World Is Flat: A Brief History of the Twen...           3        2.25
996                                      Drowning Ruth           3        2.00
997                  His Excellency: George Washington           2        2.00
998                                              Junky           2        2.00
999                               Harvesting the Heart           2        1.50

[1000 rows x 3 columns]

В данных 1000 книг, отсортированные по средней оценке и количеству обзоров. Книга с наибольшим рейтингом и количеством обзоров (среди средних оценок 5) - A Dirty Job (Grim Reaper #1).

**Определим издательство, которое выпустило наибольшее число книг толще 50 страниц — так вы исключите из анализа брошюры**

In [25]:
query = """
WITH publisher_books_cnt AS (  --определяем кол-во книг, выпущенное каждым издательством
    SELECT publisher,
           COUNT(book_id) AS books_cnt
    FROM publishers AS p
    INNER JOIN books AS b 
    ON p.publisher_id = b.publisher_id
    WHERE num_pages > 50
    GROUP BY publisher
    ORDER BY books_cnt DESC
    )
--определяем издательство с максимальным кол-вом выпущенных книг (их может быть несколько с одинаковым количеством)
SELECT publisher
FROM publisher_books_cnt
WHERE books_cnt = (SELECT MAX(books_cnt)
                   FROM publisher_books_cnt);

"""
con=engine.connect()
ansver = pd.io.sql.read_sql(sql=text(query), con = con)
ansver

       publisher
0  Penguin Books

Наибольшее количество книг (толщеной более 50 страниц) выпустило издательство *Penguin Books*.

**Определим автора с самой высокой средней оценкой книг — учитывайте только книги с 50 и более оценками**

In [26]:
query = """

SELECT author,
       AVG(rating) AS mean_rating
FROM authors AS a
     JOIN books AS b 
     ON a.author_id = b.author_id
     JOIN ratings AS r 
     ON b.book_id = r.book_id

WHERE b.book_id IN (    --считаем книги с 50 и более оценками
                  SELECT book_id
                  FROM ratings 
                  GROUP BY book_id
                  HAVING COUNT(rating_id) >= 50
                  ORDER BY COUNT(rating_id) DESC)
GROUP BY author
ORDER BY mean_rating DESC
LIMIT 1;

"""
con=engine.connect()
ansver = pd.io.sql.read_sql(sql=text(query), con = con)
ansver

                       author  mean_rating
0  J.K. Rowling/Mary GrandPré     4.287097

J.K. Rowling/Mary GrandPré- aвтор книг с самой высокой средней оценкой 4.287097 среди книг, которым поставили 50 и более оценок.

**Посчитаем среднее количество обзоров от пользователей, которые поставили больше 50 оценок.**

In [27]:
query = """
SELECT ROUND(AVG(review_cnt))
FROM (
       --считаем количество обзоров по каждому пользователю
       SELECT username, 
              COUNT(review_id) AS review_cnt
       FROM reviews 
       WHERE username IN (
                        --определяем пользователей, которые поставили больше 50 оценок
                          SELECT username
                          FROM ratings
                          GROUP BY username
                          HAVING COUNT(rating_id) > 50)
       GROUP BY  username
      ) AS rereview_count;
"""
con=engine.connect()
ansver = pd.io.sql.read_sql(sql=text(query), con = con)
ansver

   round
0   24.0

Пользователи, поставившие более 50 оценок, в среднем пишут по 24 обзора.

## Выводы <a id='intro5'></a>

Такм образом, сделав необходимые запросы к базе данных можно сказать, что:
- 819 книг вышло после 1 января 2000 г.;
- A Dirty Job (Grim Reaper #1) - книга с наибольшим рейтингом и количеством обзоров;
- издательство *Penguin Books* выпустило наибольшее количество книг толщеной более 50 страниц;
- aвтор книг с самой высокой средней оценкой - J.K. Rowling/Mary GrandPré (среди оценок >=50);
- пользователи, поставившие более 50 оценок, в среднем пишут по 24 обзора.